@model IEnumerable<MefistoTheatreCompany.Models.User>

<div class="row">

    @Html.ActionLink("View All Users", "ViewAllUsers", "Admin", new { @class = "btn btn-success btn-lg" })
    @Html.ActionLink("View All Roles", "ViewAllRoles", "Admin", new { @class = "btn btn-success btn-lg" })




</div>
