@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    

    <div class="row">

        <div class="col-md-4">
            <img src="~/Images/logo.png" class="img-responsive" />
        </div>

        <div class="col-md-4">
            <h2>Who are we </h2>
            <p>We have a blog page that allows our users to interact with each other and staff via the comments on each  post. To comment on a post you must be a registered user.</p>
        </div>

        <div class="col-md-4">
            <h2>Contact Us </h2>
            <p>To find our Contact Information, please head to the contact Us page via the link at the top</p>
        </div>


    </div>
</main>