@{
    ViewBag.Title = "Contact Page";
}
<main aria-labelledby="title">
    

    <address>
        190 Cathedral St<br />
        Glasgow G4 0RF<br />
        <abbr title="Phone">Phone:0141 375 5555</abbr>
        
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@MefistoTheatre.com">Support@MefistoTheatre.com</a><br />
    </address>
</main>