
@{
    ViewBag.Title = "CookiePolicy";
}

<h2>CookiePolicy</h2>
<div>
    <p>This website uses cookies to allow users to get the best user experience by saving your username</p>
    <p>By using our site, you accept our policy</p>
    @*<p>
        <a href="#" onclick="acceptCookies()">Accept Cookies</a>
    </p>*@
</div>

